.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
}

.inputGroup input {
  display: block;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button {
  margin-right: 2px;
}
