.table {
  border: solid 0.5px #ddeeee;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}

.tableHead th {
  background-color: #ddefef;
  border: solid 0.5px #ddeeee;
  color: #336b6b;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}

.tableBody td {
  border: solid 0.5px #ddeeee;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

.button {
  padding: 8px;
  margin-right: 2px;
}
